.hero-section{
    position: relative;

    .shape-1{
        position: absolute;
        transform: rotate(-90deg);
        top: 0;
        left: 0;
    }
    
    .shape-2{
        position: absolute;
        top: 0;
    }
    
    .shape-3{
        position: absolute;
        top: 70%;
    }

    @media screen and (max-width: 1050px) {
        h1{
            font-size: 3.8rem;
        }
        .doctors-img{
            width: 75%;
        }
    }
    @media screen and (max-width: 475px) {
        h1{
            font-size: 2.8rem;
        }
        .doctors-img{
            width: 65%;
        }
    }
    @media screen and (max-width: 400px) {
        h1{
            font-size: 2.5rem;
        }
        .doctors-img{
            width: 75%;
        }
    }
}