.services {
    .services-section {
        max-width: 1140px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.0rem;

        @media screen and (max-width: 1025px) {
            grid-template-columns: 1fr;
        }

        .left {
            width: 558px;

            @media screen and (max-width: 1150px) {
                width: 530px;
            }

            @media screen and (max-width: 1025px) {
                width: 100%;

                img {
                    margin: 0 auto;
                    width: 30%;
                }
            }
        }

        .right {
            @media screen and (max-width:1025px) {
                text-align: center;
            }

            .services-tab {
                .tab-block{
                    width: fit-content;
                    @media screen and (max-width: 1025px) {
                        margin: 2.5rem auto;
                    }
                    button{
                        @media screen and (max-width: 1050px) {
                            width: 100%;
                        }
                        @media screen and (max-width: 1025px) {
                            width: fit-content;
                        }
                        @media screen and (max-width: 490px) {
                            width: 100%;
                        }
                    }
                }
                
            }

            .tab-content {
                .content {
                    display: none;
                }

                .active-content {
                    display: block;

                    @media screen and (max-width:1025px) {
                        display: flex;
                        gap: 2rem;
                        text-align: left;
                    }

                    @media screen and (max-width: 910px) {
                        flex-wrap: wrap;
                        text-align: center;

                        img{
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}