.signup-section{
    display: flex;
    height: 100vh;

    .left{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .doc-img{
            width: 50%;
        }

        .shape-img{
            width: 50%;
            position: absolute;
            top: 0;
            right: -10px;
        }
    }
    .right{
        width: 50%;  
        display: flex;
        justify-content: center;
        align-items: center;

        .form{
            width: 60%;
            height: fit-content;
            label{
                color: black;
                font-weight: 600;
            }
            input{
                width: 100%;
                height: 2.5rem;
                margin-bottom: 1rem;
                margin-top: 0.5rem;
                background-color: #F3F3F3;
            }
        }  
    }
}