@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #07332F;
  --secondary: #F7A582;
  --transparent: #ffffff00;
  --bg-primary: #fff;
  --bg-secondary: #F3F3F3;
  --btn-hover: #F2871D;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}